<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://thymeleaf.org">
      
    <head th:fragment="head" >
        <title>Store</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>        
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>        
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script> 
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>   
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> 
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
    <body>

        <header th:fragment="heade" class="header">

            <a class="link log" th:href="@{/templates/index}">P&B</a>       
                        </header>
                       
                        <footer th:fragment="footer_todo" class="foot">
                            <br>
                                <p>Nuestras Redes</p>
                                <div class="sociales" aria-hidden="true">                 
                                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram" ></i></a>
                                    <a href="https://www.whatsapp.com/?lang=es_LA"><i class="fa-brands fa-whatsapp"></i></a>
                                    <a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a>                    
                                </div>
                        </footer>                                                   
                        </body>

                        </html>
