
*{
    margin:0;
    box-sizing: border-box;
}

.header{
    background-color: #2a5b5a;
    height: 100px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    text-align: center;
}

.titulo{
    background-color: #2a5b5a;
    margin: 0%;
    text-align: center;
    color: white;
    border: 3px double #64afa9;
}
body{
    font-family: sans-serif;
    padding: 80px 20px 0;
    min-height: 100vh
}


.catego{
    background-color: black;
    height: 80px;   
    width: 100%;
    top:0;
    left:0;

}

.categoria{
    background-color:grey;
    height: 150px;
    position: solid;
    width: 50%;
    border: 5px solid black;
}

.formulario{
    background-color: black;
    border: 5px solid #740af5;
    color: white;
    display: flex;
}

.nav{
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
}

.link{
    color: white;
    text-decoration: none;
}

.log{
    justify-content: center;
    align-items: center ;
    font-size: 30px;
    font-weight: bold;
    padding: 0 60px;
    line-height:30px;    
       
}

.menu{
    justify-content: center;
    display: flex ;
    flex-direction: initial;
    margin-right: 10px;
    list-style: none;
    line-height: 25px;
    font-weight: normal; 
    margin-left: 500px ;
}



.nav-cate{
    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 80px;

}

.menu-item{
    font-size: 18px;
    margin: 0 10px;

}

.menu-link{
    padding: 8px 12px;
    border-radius: 10px;
}
.menu-link:hover{
    background:#0f2424;
    padding: 8px 12px;
    border-radius: 120px;
    transition: 0.2s;
    
    box-shadow: 0 0 5px var(--neon), 0 0 15px var(--neon), 0 0 30px var(--neon),
    0 0 50px var(--neon);   
   outline-color: transparent;
  
}
